@model ArticleViewModel
@{
    ViewData["Title"] = "Edit an Article";
}

<h2>Edit an Article</h2>

<div class="row">
    <form class="col-md-9" asp-controller="Article" asp-action="EditArticle" method="post" enctype="multipart/form-data">
        @*<div class="form-group">
            <label asp-for="Email"></label>
            <input asp-for="Email" style="width:70%;" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <label asp-for="Title"></label>
            <input asp-for="Title" value="@Model.Title" style="width:70%;" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image">Upload Image</label>
            <input type="file" id="file" name="file" class="form-control" />
        </div>
        <div class="form-group">
            @*<label asp-for="Content"></label>
            <textarea asp-for="Content" id="summernote" name="editordata"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>*@
            <label asp-for="Content"></label>
        <textarea asp-for="Content" class="form-control" style="margin-left : 3px;" cols="30" rows="9" placeholder="Enter your content here."></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        @*<div class="form-group">
            <label asp-for="TagName"></label>
            <input asp-for="TagName" style="width:70%;" />
            <span asp-validation-for="TagName" class="text-danger"></span>
        </div>*@

        <div class="col-md-9">
            <button type="submit" class="btn button2">Update</button>
            @if (!string.IsNullOrEmpty(ViewBag.message))
            {
                <span class="alert-secondary">@ViewBag.message</span>
            }
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}