<div class="row">
    <div class="col-md-9">
        <h2 style="text-align: center; margin-left: 40%;"> Access your email to be able to edit this article!</h2>
    </div>
    <div class="col-md-9">
        <img style="width: 70%;padding-left: 45%;margin-left: 13%;" src="/images/verifyemail.jpg">
    </div>

</div>
